# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vim swp files
*.swp

# Ignore binary files, which are named after folder names.
01/01
02/02
03/03
04/04
05/05
06/06
07/07
08/08
09/09
10/10
11/11
12/12
13/13
14/14
15/15
16/16
17/17
18/18
19/19
20/20
21/21
22/22
23/23
24/24
25/25
